<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836358552805-itubbtutqo4qhi4u33iolfl2i2fkltae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836358552805-itubbtutqo4qhi4u33iolfl2i2fkltae</string>
	<key>API_KEY</key>
	<string>AIzaSyALJzv5EvW7QryJP_whmrVR21GcX2CDrl0</string>
	<key>GCM_SENDER_ID</key>
	<string>836358552805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-7b881</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-7b881.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836358552805:ios:2411860ad6b65fa1baa80c</string>
</dict>
</plist>